---
title: home
---

{% include head.html %}
{% include header.html %}

<div class="code f6-s center mt5">
    <p class="f2">
        Hey! I'm Greg Gomez!
    </p>
    
    <p class="f3">
        I’m a project manager with skills & experience in <span class="orange">sales</span>, <span class="orange">design thinking</span> & <span class="orange">product management</span>.
    </p>
    
    <p class="f7">
        (I also love space and thinking about the future).
    </p>
    <hr class="mv5">
    <p>
        Have a wander around, below are some of my latest posts and wiki entries.
    </p>
    <div id="home-feed" class="flex-ns justify-between">
        <div>
            <h3 class="w-50">posts</h3>
                {%- for post in site.posts limit: 5 -%}
                    <a href="{{post.url}}">{{post.title}}</a>
                {%- endfor -%}
        </div>
        <div class="w-50">
            <h3>wiki</h3>
            {% assign folders = site.pages | where_exp:"item", "item.path contains 'wiki'" %}
            {% assign wikifolders = "" | split:"" %}

            {% for folder in folders %}
            {% assign tempvar = folder.path | split:"/" %}
            {% assign wikifolders = wikifolders | push:tempvar[1] %}
            {% endfor %}

            {% assign wikifolders = wikifolders | uniq | sort %}

            <div>
            {% for folder in wikifolders %}
            {% unless folder contains 'md' or folder contains 'html' %}
                <div>
                    <a href="/wiki/{{folder}}/"><div>{{folder}}</div></a>
                </div>
            {% endunless %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include footer.html %}