<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.metatitle %}{{page.metatitle}}{% elsif page.title%}{{page.title}}{% else %}@greglgomez{% endif %}</title>
        <link href="https://fonts.googleapis.com/css?family=Bad+Script|Charm|Merriweather:300,400,700" rel="stylesheet"> 
        <link rel="stylesheet" href="/assets/css/tachyons.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="/assets/css/mobile.css">
        <script src="/assets/js/main.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="w-100 pa3 ph5-l bg-washed-red bg-wedding">
        <div class="center w-100 w-80-m w-50-l pa4 merriweather bg-washed-yellow shadow-5 near-black lh-copy">
            <div class="center flex">
                <img class="w5 br-100 center" src="/assets/imgs/casamento/avatar.png" alt="">
            </div>
                
            <h1 class="tc charm">Casamento Gabi & Greg</h1>
            <div class="merriweather">