<header>
    <nav class="w-100 center mb4 flex justify-between">
        <a class="mid-gray link dim di" href="/" title="home">
            @greglgomez
        </a>
        <div class="di">
            {% comment %}<a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/about" title="about">about</a>{% endcomment %}
            <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/posts" title="posts">posts</a>
            <a class="link dim dark-gray f6 f5-l dib" href="/wiki" title="wiki">wiki</a>
        </div>
    </nav>
</header>
