<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% if page.metatitle %}{{page.metatitle}}{% elsif page.title%}{{page.title}}@greglgomez{% else %}@greglgomez{% endif %}</title>
    
    
    <link rel="stylesheet" href="/assets/css/tachyons.css">

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/mobile.css">
    
    <link rel="icon" href="/assets/imgs/favicon.png" />
    
    <script src="/assets/js/main.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="w-60-l w-70-m center w100 pa3 ph5-l code">
<div id="container">