<h3>Confirme sua presença</h3>
<form name="confirme" action="/casamento/sucesso.html" method="POST" id="rvsp" data-netlify="true">
    <p>
        <label>Nome 
            <input type="text" name="name" class="w-100"/>
        </label>
    </p>
    <p>Quem vem com você? <button class="mt2 f6 link dim ba ph3 pv1 mb2 dib near-black" type="button" onclick="addGuest()">Adicionar Convidado</button></p>
    <p id="holder_1">
        <label>Convidado 1 
            <input type="text" name="convidado_1" id="convidado_1" class="w-100"/>
        </label>
    </p>
    <p id="holder_2">
        <label>Convidado 2 
            <input type="text" name="convidado_2" id="convidado_2" class="w-100"/>
        </label>
    </p>
    <p id="holder_3">
        <label>Convidado 3 
            <input type="text" name="convidado_3" id="convidado_3" class="w-100"/>
        </label>
    </p>
    <p id="holder_4">
        <label>Convidado 4 
            <input type="text" name="convidado_4" id="convidado_4" class="w-100"/>
        </label>
    </p>
    <p id="holder_5">
        <label>Convidado 5 
            <input type="text" name="convidado_5" id="convidado_5" class="w-100"/>
        </label>
    </p>
    <p id="holder_6">
        <label>Convidado 6 
            <input type="text" name="convidado_6" id="convidado_6" class="w-100"/>
        </label>
    </p>
</form>
<p>
    <button type="submit" form="rvsp" class="f6 link dim ph3 pv2 mb2 dib white bg-dark-green">Enviar</button>
</p>