
<div class="ph4 ph5-ns pt4 pb3">
    <h2>Convite</h2>
    <p>
        Convidamos você para comparecer ao nosso pequeno e humilde casório!
    </p>
    <p>
        Sabemos que é meio de ultima hora, mas dado que estamos indo para Inglaterra logo, queriamos fazer antes de ir para celebrar com vocês todos!
    </p>
    <p>Para detalhes sobre presentes, <a href="#ex1" rel="modal:open"> clique aqui.</a></p>
</div>

<div id="ex1" class="modal merriweather">
    {%- include casamento/presentes.html -%}
</div>

<div class="flex flex-wrap">
    <div class="w-100 w-50-l ph4 ph5-l">
        <h3 class="mb1">Quando?</h3>
        <p class="mt0">
            <b>Sábado, 06 de Abril 2019 às 15:00h.</b> <br>
            Sim, sabemos que é logo, desculpa! Mas a gente quer se mandar logo pra Inglaterra e queriamos comemorar com vocês antes de ir. :)
        </p>
    </div>
    <div class="w-100 w-50-l ph3 ph5-l">
        <h3 class="mb1">Onde?</h3>
        <p class="mt0">Ponta do Sambaqui</p>
        {%- include gmap.html -%}
    </div>
    <div class="w-90 w-60-ns center pt5">
        {%- include casamento/confirme.html -%}
    </div>
</div>