<div class="w-90 w-80-m w-60-l center">
    <div class="">
        {%- if page.lang == "en" -%}
            <h2>Invite</h2>
            <p>
                Hey folks back in Blighty, I'm getting married!
            </p>
            <p>
                Now I know it's a pretty last minute invite, and I don't expect any of you to come half way across the world for our modest affair, but I'd never forgive myself if I didn't invite you all anyway.
            </p>
            <p>
                However! Don't despair, as our plan is to be back in the UK within a few months, so I'm sure we can come up with an excuse to all get merry and celebrate our union. :)
            </p>
        {%- elsif page.lang == "pt" -%}
            <h2>Convite</h2>
            <p>
                Convidamos você para comparecer ao nosso pequeno e humilde casório!
            </p>
            <p>
                Sabemos que é meio de ultima hora, mas dado que estamos indo para Inglaterra logo, queriamos fazer antes de ir para celebrar com vocês todos!
            </p>
        {%- endif -%}
    </div>

    <div class="flex flex-wrap flex-row w-100 justify-center">
        <div class="w-100 w-50-l ph5-l">
            {%- if page.lang == "en" -%}
                <h3>What?</h3>
                <p>We're doing a small ceremony on a beach on the island I grew up on. It's a special spot for me, a place with treasured memories of my mother and her father who will be there with us in spirit. After that it's off to a near by restaurant overlooking the bay to watch the sunset and drink and feast.</p>
            {%- elsif page.lang == "pt" -%}
                <h3>O que?</h3>
                <p>Uma pequena cerimônia na Ponta do Sambaqui e depois uma celebração em um restaurante próximo. Cada um paga o seu, mas pode deixar que vai ter um champagne para brindarmos para a nossa longa e feliz união. ;)</p>
            {%- endif -%}

        </div>

        <div class="w-100 w-50-l ph5-l">
            {%- if page.lang == "en" -%}
                <h3>When?</h3>
                <p>Bloody soon, Saturday, 06 of April 2019 at 16:00h.</p>
                <p>Yes, I know it's incredibly short notice, I'm sorry, I don't expect you to come, but I sure as hell expect us to celebrate when we're in the UK!</p>
            {%- elsif page.lang == "pt" -%}
                <h3>Quando?</h3>
                <p>Sábado, 06 de Abril 2019 às 16:00h.</p>
                <p>Sim, sabemos que é logo, desculpa! Mas a gente quer se mandar logo pra Inglaterra e queriamos comemorar com vocês antes de ir. :)</p>
            {%- endif -%}
        </div>

        <div class="w-100 w-50-l ph5-l">
            {%- if page.lang == "en" -%}
                <h3>Outfit</h3>
                <p>It's a beach wedding, it's all colour, flowery shirts and flipflops baby!</p>
            {%- elsif page.lang == "pt" -%}
                <h3>Traje</h3>
                <p>Pelo Amor de Deus, não me apareça de terno ou de salto, é um casamento na praia, gostariamos de ver vocês todos de traje colorido e casual. Ah, e pé descalço. :)</p>
            {%- endif -%}
        </div>

        <div class="w-100 w-50-l ph5-l">
            {%- if page.lang == "en" -%}
                <h3>Presents</h3>
                <p>If you're feeling desperately guilty that you can't come and want to get us a wee present, <a href="#ex1" rel="modal:open">clicky clicky</a>.</p>
            {%- elsif page.lang == "pt" -%}
                <h3>Presentes</h3>
                <p>Se você está desesperadamente querendo saber se queremos algo, <a href="#ex1" rel="modal:open">clique aqui</a>.</p>        
            {%- endif -%}
        </div>

        <div class="w-100 w-50-l ph5-l">
            {%- if page.lang == "en" -%}
                <h3>Where?</h3>
            {%- elsif page.lang == "pt" -%}
                <h3>Onde?</h3>
            {%- endif -%}
            {%- include gmap.html -%}
        </div>

        <div class="w-100 w-50-l ph5-l">
            {%- include casamento/confirme.html -%}
        </div>
    </div>

    <div id="ex1" class="modal merriweather">
            {%- include casamento/presentes.html -%}
    </div>
</div>