{%- if page.lang == "en" -%}
    <p>
        <h2 class="mb1">About Presents</h2>
        As I've mentioned several times now, we're hauling our asses over to Blighty very shortly, so we'd prefer cold hard cash if you do wish to give us a present as it's much lighter than food processors and kettles.<br>
        <p>We also accept gold bullion and cryptocurrency. 😜 <br>
        <span class="f7">(no shitcoins plz)</span></p>
    </p>
    <p>
        <h3 class="mb1">Deposit Account</h3>
        <b>Name</b>: Gregorio Luiz Gomez <br>
        <b>Bank</b>: Monzo<br>
        <b>Sortcode</b>: 040004<br>
        <b>Account</b>: 12261908<br>
    </p>

    <p>
        <h3 class="mb1">I wasn't joking about cryptocurrency.</h3>
        Bitcoin: <span class="f6"><br>3DE7rsRaQ4K4eLRYMASwsk9pfqvKLV2pZ6</span> <br>
        Ethereum: <span class="f6"><br>0x04a91FF161e78F918e54121aDdBc0Cc17005c0Ce</span>
    </p>
{%- elsif page.lang == "pt" -%}
    <p>
        <h2 class="mb1">Sobre Presentes</h2>
        Talvez você não saiba, mas estamos nos mudando para Inglaterra! Por esse motivo não vamos poder levar muitas coisas com a gente. Pedimos às almas generosas que quiserem nos presentear, que seja dinheiro para começarmos nossa vida juntos na gringa!<br>
        Aceitamos em espécie e barras de ouro. 😜
    </p>
    <p>
        <h3 class="mb1">Conta para deposito</h3>
        <b>Nome</b>: Gabrielli Laurindo <br>
        <b>CPF</b>: 072.131.019-27<br>
        <b>Banco</b>: Banco Intermedium S.A. Nº077<br>
        <b>Agência</b>: 0001<br>
        <b>Conta</b>: 2013567-0<br>
    </p>

    <p>
        <h3 class="mb1">Também aceitamos criptomoedas</h3>
        Bitcoin: <span class="f6"><br>3DE7rsRaQ4K4eLRYMASwsk9pfqvKLV2pZ6</span> <br>
        Ethereum: <span class="f6"><br>0x04a91FF161e78F918e54121aDdBc0Cc17005c0Ce</span>
    </p>
{%- endif -%}
