


/* fix the footer at the bottom of the page */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#container {
    flex: 1 0 auto;
}

/* styles for _includes/gmap.html to make the iframe responsive */
.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* 4x3 aspect ratio */
.iframe-container {
    padding-top: 75%;
}